<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<div class="main-container">
    <div class="header">
        <p style="text-align: left; font-weight: bold;  font-size: 20px; flex: 1;">Items</p>
        <p style="text-align: right;">
            <a href="/items/create"><button type="submit" style="width: 100px;" class="yellow-btn">Create</button></a>
        </p>
    </div>

    <br>

    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.created_at }}</td>
            <td>
                <form>
                    <button type="submit" formaction="/items/edit/{{item.id}}" class="edit-btn">EDIT</button>
                    <button class="status-btn" type="submit" formaction="/items/edit/{{item.id}}/status">
                        {%- if item.status == "pending" -%} COMPLETE {% endif %}
                        {%- if item.status == "completed" -%} INCOMPLETE {% endif %}
                    </button>
                    <button type="submit" formaction="/items/delete/{{item.id}}" class="delete-btn">DELETE</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>

    </table>


</div>

</body>
</html>